@tailwind base;
@tailwind components;
@tailwind utilities;

#hero-bg {
    mask-image: linear-gradient(black, transparent);
    background: url(/hero-bg.png);
    background-size: contain;
    background-position: center;
}

#text {
    background-image: linear-gradient(to top right, #9945FF,#14F195);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}