@tailwind base;
@tailwind components;
@tailwind utilities;


#retarded-characters {
    mask-image: url(/retarded_meme_characters.png);
    mask-size: contain;
    mask-position: center;
    background-color: white;
    mask-repeat: no-repeat;
}